@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@font-face {
    font-family: samsungsharp;
    src: url("../fontes/samsungsharpsans.otf");
  }

  @font-face {
    font-family: poetsenone;
    src: url("../fontes/poetsen-one.ttf");
  }


html, body{
    font-family: samsungsharp;
    background: #E5E5E5;
    overflow: hidden;
}
 .vh-100 {
        min-height: 100vh;
    }
    

.menu-dashboard{
    
    margin-top: 20px;
    height: 95%;
    background: linear-gradient(180deg, #6D63FF 0%, #3B32C0 100%);
    border-radius: 40px;
    width: 97px;
}
.conta-menu{
    background-color: white;
    margin-right: -13px;
    height: 100%;
    border-radius: 10px;
    font-weight: bold;
    
}
.avatar{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border: 2px solid #6D63FF;
    margin-left: 20px;
    padding: 2px;
    
    border-radius: 10px;
}
.notificacao-icone{
    margin-top: 20px;
    margin-left: 34px;
}
div .menu-dashboard hr{
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    height: 1px;
    opacity: 100%;
}
.circulo-icone-notificacao{
    z-index: 1;
    object-fit: cover;
    position: absolute;
    margin-top: 20px;
    font-weight: 900;
    margin-left: 52px;
    font-size: 15px;
    color: red;
    border: 2px solid #6D63FF;
    border-radius: 50%;
    
}
    .num-notificacao{
    
    z-index: 2;
    object-fit: cover;
    position: absolute;
    margin-top: 19px;
    font-weight: 900;
    margin-left: 58px;
    color: white;
    font-size: 13px;
    }
    
.home-menu{
    margin-left: 30px;
    margin-top: 16px;
}

.botoes-menu{
    text-shadow: 0px 0px 5px #000000;
    font-size: 33px;
    color: white;
    cursor: pointer;
    
}

.botoes-menu:hover{
    color: #E5E5E5;
    text-shadow: 0px 0px 8px #000000;
}
.sono{
    margin-left: 34px;
    margin-top: 20px;
}

.ajuda-botao{

    text-shadow: 0px 0px 5px #000000;
    margin-top: 570px;
    margin-left: 38px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.ajuda-botao:hover{
    color: #E5E5E5;
    text-shadow: 0px 0px 8px #000000;
}
.amigo-botao{
    font-size: 30px ;
    margin-top: 20px;
    margin-left: 30px;

}
.ranking-botao{
    margin-top: 20px;
    margin-left:30px ;
}
.ranking-botao[title]:hover::after {
  content: attr(title);
  background-color: red;
  position: absolute;
  top: -100%;
  left: 0;
}

#chart{
    font-size: 20px;
    
    
}
.apexcharts-canvas{
    background: #ffffff;
    border-radius: 2%;
}



.descricao-grafico{
    margin-top: 48px;
    font-size: 20px;
}
.nome-usuario{
    margin-top: 40px;
    margin-left: 7px;
    position: absolute;
}
.status-usuario{
    font-size: 14px;
    margin-left: 24px;
    text-align: center;
    margin-top: -10px;
    color: rgb(179, 179, 179);
    position: relative;
   
}
.input-procurar{
    border-radius: 10px 0px 0px 10px;
    width: 400px;
}

.botao-procurar{
    border-radius: 0px 10px 10px 0px;
    background-color: #6D63FF;
    border: none;
}
.procurar{
    padding-top: 30px;
}
canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.gauge-grafico{
    text-align: center;
    font-size: 14px;
    margin-top: 260px;
}
.peso-perdido{
    color: grey;
    font-weight: normal;
}
.icone-configuracao{
    border-radius: 7px;
    color: #20B9FD;
    background: #E5F8FF;
    font-size: 30px;
    text-align: center;
}
.botao-texto-conta-menu{
    margin-top: 10px;
}
.botao-margin-menu{
    margin-top: 10px;
    margin-left: 10px;
}

.icone-dieta{
    
    border-radius: 7px;
    color: #5631FA;
    background: #ECEAFF;
    font-size: 30px;
    text-align: center;

}
.icone-meta{
    border-radius: 7px;
    color: #FD6B22;
    background: #FEF0E7;
    font-size: 30px;
    text-align: center;
}
.botoes-conta-menu{
    margin-top: 200px;
}