


@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@font-face {
    font-family: samsungsharp;
    src: url("../fontes/samsungsharpsans.otf");
  }

  @font-face {
    font-family: poetsenone;
    src: url("../fontes/poetsen-one.ttf");
  }




		
@media screen 
{
    .background-logo{
        
        background: linear-gradient(180deg, #6D63FF 0%, #3B32C0 100%);
        
        
    }

    .botao-entrar{
        width: 100%;
        margin-top: 30px;
     background: linear-gradient(180deg, #6D63FF 0%, #3B32C0 100%);

    }

    .hyperlink-botao-entrar{
        width: 100%;
        margin-top: 30px;
        color: white;
        text-decoration: none;
    }

    .titulo-login{
        margin-bottom: 2px;
        font-size: 30px;
        font-weight: bold;
    }

    .descricao-login{
        margin-bottom: 20px;
        color: #8692A6;
    }

    .centralizando-tela-login{
        padding: 10%;
    }

    .espaco-input{
        margin: auto;
    }

    .espaco-mostrar-senha{
        margin: auto;
    }

    div.borda-tela-login{
        font-family: sans-serif !important;
        padding: 40px;
        border: 1px solid rgb(209, 206, 206);
        border-radius: 2%;
        
    }

    .hyperlink-registrar{
        text-decoration: none;
    }



    .logo-login{
        
        
        font-size: 30px;
        text-align: center;
        font-family: poetsenone;
    }
    .logo-login2{
        display: none;
        font-size: 30px;
        text-align: center;
        font-family: poetsenone;
    }

    .logo-imagem-login{
        display: block;
    margin-left: auto;
    margin-right: auto;
        height: 7%;
        width: 7%;
    }



    html  {
    height: 100%;
    font-family: samsungsharp;
    overflow: hidden
    }
    
    .vh-100 {
        min-height: 100vh;
    }

    .gif-logo-login{
        width: auto;
        height: auto;
    }

    #slider{
        width: 100%;
        max-width: 1000px;
        height: 50vw;
        position: relative;
    }

    #slider div{
        opacity: 0;
        /* width: 100%;
        height: 100%; */
        object-fit: cover;
        transition: opacity 800ms;
        position:absolute;
    }

    #slider div.selected{
        opacity:1;
    }

    .titulo-login-frases{
        margin: auto;
        /* margin-top: -24px;
        margin-bottom: 15px; */
        font-weight: bold;
        text-align: center;
        display: block;
        font-size: 35px;
        
    }

    .descricao-login-frases{
        color: white;
        text-align: center;
        display: block;
        font-size: 18px;
        margin-bottom: 10px;
        
    }

    .imagem-login-frases-1{
        width: 100%;
        border-radius: 5%;
    }

    .imagem-login-frases-2{

        width: 100%;
        border-radius: 5%;
    }

    .tela-login-banner{
        padding: 7%;
    }
    .label-input{
        display: block;
    }

    /* Botão Registrar-Se com o Google */

    .google-btn {
        
        margin: auto;
        margin-top: 10px;
        width: 184px;
        height: 42px;
        background-color: #4285f4;
        border-radius: 2px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    }
    .google-btn .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: #fff;
    }
    .google-btn .google-icon {
        
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .google-btn .btn-text {
        text-decoration: none;
        float: right;
        margin: 12px 25px 0px 0px;
        color: #fff;
        font-size: 12px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }
    .google-btn:hover {
        box-shadow: 0 0 6px #4285f4;
    }
    .google-btn:active {
        background: #1669f2;
    }


    .botao-google{
        padding-top: 40ppx;
    }
    .opcao-google{
        color: grey;
        padding-top: auto;
        padding-top: 10px;
        text-align: center;

        
    }

    .banner{
        display: block;
    }
}






@media  only screen and (max-width: 768px){
    .banner{
        display: none;
    }
    .logo-login2{
        display: block;
    }
}


.row-banner{
    margin-left: auto;
    margin-right: auto;
}
.icon-mostrar-senha{
    
}



		

		


